/* gradient fallbacks taken from csstricks.com */
body {
  /* background-color: red; */

  /* SVG fallback for IE 9 (could be data URI, or could use filter) */
  background-image: url(fallback-gradient.svg);

  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  /* background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(red),
    to(#f06d06)
  ); */

  margin: 0px;
  overflow: hidden;
}
